
/* Contact Section*/
.contact-modal {background-color: rgb(163, 154, 154);padding: 20px}

.contact-modal .btn-contact {
    border: 2px dashed #f2395a;
    color: #f2395a;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    transition: all .5s ease-in-out
}

.contact-modal .btn-contact:hover {color:#EEE;background-color: #f2395a}

.contact-modal h5 {font-family: 'Dancing Script', cursive;font-weight: 700}

.contact-modal .phone, .gmail {
    margin: 5px 0;
    font-size: 1.4em;
    padding: 10px
}

.contact-modal .phone .icon-phone {color: rgb(12, 160, 12);font-size: 1.7em}

.contact-modal .phone .icon-gmail {color: #EEE;font-size: 1.7em}

/* nav-bar Section */
.nav-bar {background-color: #f2395a;margin: 0}

.nav-bar .brand-name {
    color: rgba(59, 11, 11, 0.561);
    font-size: 2rem;
    font-family: 'Dancing Script', cursive
}

.nav-bar .at {
    border-radius: 50%;
    border: 2px dashed;
    background-color: #2d0606cc;
    color: #EEE;
    font-size: 1em;
    font-family: sans-serif;
    padding: 10px
}

.navbar-expand-lg .navbar-nav .nav-link {
    color:#EEE;
    font-size: 32px;
    font-family: 'Dancing Script', cursive;
    padding-right: 0.5rem;
    padding-left: 1.5rem
}

/* about Section */
#about {margin-top: 5em}

#about .about-title {
    color: #f2395a;
    font-family: 'Dancing Script', cursive;
    font-size: 5.3em
}

#about .info {margin-top: 5em}

#about .info .my-img {border: 1px dashed #f2395a}

#about .info .bio {line-height: 1.2}

#about .info .bio .bio-title {font-size: 1.7em}

#about .skills-info {line-height: 1.4}

#about .skills-item {margin-top: 3em}

#about .skills-icon {color: #f2395a;font-size: 5em}

/* Small screen */
@media (max-width: 576px) {
    #about {text-align: center}

    #about .skills-icon {margin-top: 15px}

    #about .skills-icon {margin-top: 15px}
}

/* Meduim screen */
@media (max-width: 768px) {
    #about .info .bio {margin-top: 15px}

    #about .info .bio {margin-top: 15px}
}

/* Projects Section  */
#projects {margin-top: 5em}

#projects .projects-title {
    color: #f2395a;
    font-family: 'Dancing Script', cursive;
    font-size: 5.3em
}

#projects .project-items {margin-top: 3em}

#projects .project-items .item {margin: 2em 0}

#projects .project-items .item .item-btn {padding: 10px;font-size: 1.4rem}

/* Location Section */
#location {margin-top: 5em}

#location .location-title {
    color: #f2395a;
    font-family: 'Dancing Script', cursive;
    font-size: 5.3em
}

/* Footer Section */
footer {
    font-family: 'Dancing Script', cursive;
    margin-top:5em;
    padding: 15px
}

footer .info {color: #EEE;font-size: 1.7em}

footer .info .my-name {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px dashed #f2395a;
    color: black
}

footer .icon  a {
    color: #EEE;
    font-size: 2em;
    margin-left: 10px;
    transition: .5s all ease-in-out;
    text-decoration: none
}

footer .icon  a:hover {color : #f2395a}

/* Small screen */
@media (max-width: 576px) {
    footer .info {font-size: 1.2em;margin-bottom: 10px}
}